* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.debug {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding-top: env(safe-area-inset-top);
}

.container {
  display: flex;
  width: 100%;
  /* max-width: 1200px; */
  height: 100vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
}

h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: 500;
}

.iframe-container {
  flex: 7;
  display: flex;
  min-height: 100%; /* Ensure container fills height */
  height: 100%; /* Set explicit height */
  width: 100%;
  position: relative;
}

.iframe-container iframe {
  width: 100%;
  height: 100%; /* Makes iframe expand to container height */
  min-height: 50vh; /* Ensures at least 50% of the viewport height */

  border: none;
}

.configurator {
  flex: 3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.configurator h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.configurator label {
  margin-top: 5px;
}

.configurator select,
.configurator input {
  padding: 5px;
  font-size: 1em;
}

.slider-container {
  position: absolute;
  bottom: 10px; /* Adjust this for the space from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the slider container horizontally */
  text-align: center;
  width: 50%;
  z-index: 10; /* Ensures the slider is above the iframe */
}

/* Heading and paragraph inside the slider container */
.slider-container h3,
.slider-container p {
  margin: 0.5rem 0;
}

/* Slider styling */
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgreen;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background-color: green;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgreen;
  border: 2px solid #fff;
  cursor: pointer;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; /* Center items */
  gap: 10px;
  margin: 0px 0;
}

.color-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text under button */
  max-width: 100px; /* Prevent overflow of long text */
}

.interior-color {
  border: 0px solid #ccc; /* Optional border for better visibility */
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.interior-color.selected {
  border: 2px solid #4caf50;
  transform: scale(1.1); /* Slightly enlarge the selected color button */
}
.interior-color.selected::before {
  content: "↓"; /* Downward arrow */
  color: #4caf50; /* Green color for the arrow */
  font-size: 18px; /* Adjust size of the arrow */
  position: absolute;
  top: -25px; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
}

.exterior-color {
  border: 0px solid #ccc; /* Optional border for better visibility */
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}
.exterior-color.selected {
  border: 2px solid #4caf50;
  transform: scale(1.1); /* Slightly enlarge the selected color button */
}
.exterior-color.selected::before {
  content: "↓"; /* Downward arrow */
  color: #4caf50; /* Green color for the arrow */
  font-size: 18px; /* Adjust size of the arrow */
  position: absolute;
  top: -25px; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
}
.blocked-overlay {
  position: relative; /* Set relative positioning to allow pseudo-elements to overlay */
  display: inline-block; /* Ensure it works for inline elements too */
  pointer-events: none;
}

.blocked-overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(255, 0, 0, 0.1); /* Optional red overlay */
  pointer-events: none; /* Prevent overlay from interfering with clicks */
  border-radius: 50%; /* Make it a circle */
  border: 2px solid red !important;
  z-index: 11; /* Red circle */
}

.blocked-overlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%; /* Slightly smaller than the circle */
  height: 2px; /* Thickness of the diagonal line */
  background-color: red; /* Red diagonal line */
  transform: translate(-50%, -50%) rotate(45deg); /* Diagonal cross line */
  pointer-events: none; /* Ensure it’s unclickable */
}

.hardware-color {
  border: 0px solid #ccc; /* Optional border for better visibility */
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.hardware-color.selected {
  border: 2px solid #4caf50;
  transform: scale(1.1); /* Slightly enlarge the selected color button */
}
.hardware-color.selected::before {
  content: "↓"; /* Downward arrow */
  color: #4caf50; /* Green color for the arrow */
  font-size: 18px; /* Adjust size of the arrow */
  position: absolute;
  top: -25px; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
}

.tile {
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  border-radius: 8px; /* Rounded edges */
}

.tile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.color-text {
  margin-top: 8px;
  font-size: 14px;
  /* word-wrap: break-word; Ensures long words break */
  max-width: 50px; /* Matches button width */
  line-height: 1.2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    height: auto;
  }

  .iframe-container {
    flex: unset;
    width: 100%;
    height: 60vh;
    min-height: 50vh;
  }

  .iframe-container iframe {
    min-height: 50vh;
    min-width: 90vw;
    width: 100%;
    height: 100%;
    border: none;
  }

  .configurator {
    width: 100%;
    margin: 0;
    max-height: 40vh;
    overflow: scroll;
  }

  /* Color options on mobile - 3 items per row */

  /* Ensure the buttons remain square on mobile */
}

.exterior-color[style*="pointer-events: none"] {
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.grille-option {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
}
.grille-option.selected img {
  border: 2px solid #4caf50 !important;
  transform: scale(1.1); /* Slightly enlarge the selected color button */
}
.grille-option.selected::before {
  content: "↓"; /* Downward arrow */
  color: #4caf50; /* Green color for the arrow */
  font-size: 18px; /* Adjust size of the arrow */
  position: absolute;
  top: -25px; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
}

.grille-option img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: contain;
  transition: transform 0.2s;
}

.grille-option img:hover {
  transform: scale(1.05);
}

.grille-option span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  /* font-weight: bold; */
}

.non-phone {
  display: block;
}

@media (max-width: 768px) {
  .non-phone {
    display: none;
  }
}

.phone-only {
  display: none;
}
.phone-only .color-options.interior {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  .phone-only {
    display: block;
  }
}
@media (min-width: 769px) {
  .phone-only {
    display: none !important;
  }
}

/* Basic Styling for the Container */
/* 
.configuratormobile {
  display: flex;
  flex-direction: column;

  font-family: Arial, sans-serif;
  width: 100%;
  height: 40vh; 
} 
*/

.phone-only .page1,
.phone-only .page2,
.phone-only .page3,
.phone-only .page4 {
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff; /* White background for the pages */
  border-radius: 8px; /* Rounded corners for the pages */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow to make the pages stand out */
}

/* First Row: Heading */
.heading {
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Second Row: Options */
.options {
  flex: 1; /* Takes up all remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

/* Third Row: Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10vh;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

/* Individual Navigation Items */
.nav-item {
  flex: 1;
  display: flex; /* Enable flexbox for centering */
  flex-direction: column; /* Stack the symbol and text vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold; /* Make both symbol and text bold */
}

/* Left Navigation */
.nav-item.left {
  text-align: left;
}

/* Right Navigation */
.nav-item.right {
  text-align: right;
}

/* Arrows */
.nav-item .arrow {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Text below Arrows */
.nav-item .text {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: #555;
}

/* Borders between Navigation Items */
.nav-item:not(:last-child) {
  border-right: 1px solid #ddd;
}

.phone-only .color-options {
  padding-top: 1rem;
  margin: 10px !important;
  margin-top: 20px;
  /* flex-grow: 1; Allows this element to take up remaining space */
  flex-shrink: 0; /* Prevents the element from shrinking if the space is tight */
  flex-basis: 0; /* Ensures the element starts with zero width before growing */
}

.scrollable-options {
  overflow-x: auto !important;
  flex-wrap: nowrap !important;
}
.scrollable-options-grill {
  display: block; /* block-level container */
  overflow-x: auto; /* Allow horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  -webkit-overflow-scrolling: touch;
  padding-top: 20px;
  padding-bottom: 20px;
}
